* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f9fafc;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background: #2a4d69;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}


/* Navigation */


nav a:hover,
nav a:focus {
  background: #4b86b4;
}



main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

main h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #000000;
  grid-column: 1 / -1;
}

/* Gallery - one column mobile view */
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}



figure {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

figure img {
  max-width: 100%;
  border-radius: 6px;
}

figcaption {
  margin-top: 0.5rem;
  font-weight: 600;
  color: #333;
}

/* Footer */
footer {
  background: #2a4d69;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/* Navigation */

nav {
  background-color: #2a4d69;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "❌";
}

#menu::before {
  content: "≡";
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}






